/* Common Css */
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 45px;
    
}
p{
    font-size: 22px;
    line-height: 35px;
    padding-bottom: 20px;
    
}
a{
    text-decoration: none;
}

/* Top Banner */
.top-banner-section{
    background: linear-gradient(rgba(0, 0, 0, .60), rgba(0, 0, 0, .80)), url(./images/donation0.jpg);
    background-size: cover;
    height: 100vh;
}
.top-banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: aliceblue;

}
.banner-content p{
padding:2% 25%;

}
.btn{
    background-color:  orange;
    color: #fff;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    margin-top:20px ;
    transition: .5s;
}
.btn:hover{
    color: black;
}

/* Donate Today */
.donate-today-section{
    padding: 60px 0;
    
}
.donate-content{
    display: flex;
    text-align: center;
    padding:2% 25%;
}
.donate-content p{
    color: gray;
    padding-top: 10px;
}
.donate-part{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 30px;
}
.donate-amount{
    padding: 30px;
}
.donate-amount h2{
    color: gray;
}
.second-amount{
    border: 2px solid tomato; 
    border-radius: 5px;
    padding: 20px;
    color: tomato;
    background-color: rgb(248, 232, 232);
}
.second-amount h2{
    color:tomato;
    margin-top: 8px;
}
.donate-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.donate-form{
    padding-bottom: 20px;
    text-align: center;
}
input{
    border: 0;
    border-bottom: 2px solid gray;
    width: 200px;
    padding: 10px ;
}


/* Donate Plan */
.donate-plan{
    padding:60px ;
}
.planing-card{
    display: flex;
}
.card{
    padding:25px;
    margin: 0 20px;
    border-radius: 5px;
}
.card:nth-child(1){
    background-color: rgb(188, 246, 246);
}
.card:nth-child(2){
    background-color: rgb(243, 210, 216);
}
.card:nth-child(3){
    background-color: antiquewhite;
}
.card p{
    font-size: 18px;
    color: gray;
    line-height: 25px;
    padding: 10px 0;
}
i{
    font-size: 35px;
}
.content{
    padding: 20px 0;
}

/* Annual Report */
.annual-report{
    padding-bottom: 30px;
}

.section-title{
    text-align: center;
}
.report-item{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.report-part{
    display: flex;
    align-items: center;
    padding: 30px 70px;
    border: 1px solid rgb(215, 206, 206);
    margin: 0 10px;
}

.report-part i{
    color: orange;
}
.report-content{
    padding: 0 20px;
}
.report-content h2{
  font-size: 32px;  
}
.report-content h4{
    color: rgb(158, 148, 148);
}

/* Update Section */
.update-section{
    padding: 60px 0;
}
.section-title p{
    padding:2% 25%;
    color: gray;
}
.registration-part{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 60px;
    margin: 20px 200px;
    border-radius: 5px;
    
}
.registration-part input{
    border: 2px solid #000;
    padding: 9px 3px;
    border-radius: 5px 0px 0 5px;
    margin:20px 0;
}
.registration-part .submit-btn{
    padding: 7px 18px; 
    border-radius: 0 5px 5px 0;
    border: 2px 4px 5px 9px solid black;

}

/* Footer */
footer{
    text-align: center;
    background-color: #000;
    padding: 10px;
}
.footer-title{
    font-family: 'Lobster Two', cursive;
    color: orange;
}
footer p{
    color: #fff;
}